.HomePage {
  /* background-image: url(../../assets/home); */
}

.paragraph {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.paragraph > span {
  font-size: 18px;
}
