.CatalogPage {
  display: flex;
  gap: 28px;
}

.CamppersContainer {
  max-width: 888px;
  flex-direction: column;
  display: flex;
  gap: 22px;
}
.Campper {
  padding: 24px;
  display: flex;
  gap: 24px;
  border: 1px solid #d8d9dc;
  border-radius: 6px;
  overflow: hidden;
}
.Campper > img {
  border-radius: 8px;
}
button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #e44848;
  border-radius: 25px;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
button:hover {
  background-color: #151803;
  border-color: #030d18;
  color: #ffffff;
}
.Info {
}
.title {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
  align-items: center;
}
.raiting {
  display: flex;
  align-items: center;
  gap: 6px;
}
.description {
  max-width: 526px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.insideModal {
  background-color: antiquewhite;
  padding: 16px;
}
.PriceBlock {
  display: flex;
  align-items: center;
  gap: 4px;
}
