.favoritesPage {
  max-width: 1475px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.favoriteItem > img {
  border-radius: 8px;
}

.favoritesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.favoritesHeader {
  width: 100%;
  text-align: center;
}

.favoriteItem {
  width: calc(50% - 8px);
  margin-bottom: 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.muimodal {
  overflow-y: auto;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.heart {
  position: absolute;
  top: 32px;
  right: 18px;
  z-index: 1;
  cursor: pointer;
}

@media (min-width: 768px) {
  .favoriteItem {
    width: calc(33.33% - 8px);
  }
}

@media (min-width: 1024px) {
  .favoriteItem {
    width: calc(25% - 8px);
  }
}

button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #e44848;
  border-radius: 25px;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

button:hover {
  background-color: #e44848;
  border-color: #070707;
  color: #ffffff;
}
