.filters {
  max-width: 302px;
}

hr {
  background-color: #cfd1d4;
  margin: 24px 0 24px 0;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  background-color: #ffffff;
  border: 1px solid #d2d4d7;
  border-radius: 6px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.highlighted {
  border-color: #00ff00; /* Зелений колір для бордера */
}

.highlighted:hover {
  background-color: #ffffff; /* Відключення фону при наведенні, щоб виділявся лише бордер */
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside > img {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 4px; /* Відступ між картинками */
}
