.filters {
  padding: 0;
  max-width: 336px;
  width: 100%;
}

hr {
  background-color: #cfd1d4;
  margin: 24px 0 24px 0;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 74px;
  background-color: #ffffff;
  border: 1px solid #d2d4d7;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(218, 18, 18, 0.1);
}
.highlighted {
  border-color: #e44848;
}

.highlighted:hover {
  background-color: #ffffff;
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside > img {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 4px;
}

.inside > div {
  color: #000000;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #101828;
}

.small_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #475467;
  margin-bottom: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}
