.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavLinks {
  display: flex;
  list-style: none;
  gap: 16px;
}

.NavLink {
  text-decoration: none;
  color: black;
  position: relative;
}

.Badge {
  position: absolute;
  top: -8px;
  right: -9px;
  transform: translate(50%, -50%);
}
