.Header {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background: white;
  transition: background 0.3s ease;
}
.Header:hover {
  background: #b2bdee;
}
.NavLinks {
  display: flex;
  list-style: none;
  gap: 16px;
}

.NavLink {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #101828;
}

.Badge {
  position: absolute;
  top: -8px;
  right: -9px;
  transform: translate(50%, -50%);
}

.cart_user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cart_user > img {
  cursor: pointer;
}
