.Header {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #faedf3;
  margin-bottom: 24px;
}
.NavLinks {
  display: flex;
  list-style: none;
  gap: 16px;
}

.NavLink {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #101828;
}

.Badge {
  position: absolute;
  top: -8px;
  right: -9px;
  transform: translate(50%, -50%);
}

.cart_user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cart_user > img {
  cursor: pointer;
}
