* {
  /* background: #f7f7f7; */
}
.container {
  max-width: 1367px;
  margin: 0 auto;
}
.modal_container {
  max-height: 900px;
  overflow-y: auto;
  width: 982px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
