.CustomTabPanelContainer {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.Parametrs {
  max-width: 450px;
  width: 100%;
}
.titleParametrs {
  font-family: "Inter", sans-serif;
}
.Reviews {
  max-width: 450px;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin-right: 24px;
}
