.locationInputContainer {
  margin: 8px 0 32px 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.locationInput {
  width: 100%;
  padding: 18px 18px 18px 40px; /* Add padding (top-right-bottom-left) and adjust left padding for icon */
  border: 1px solid #ccc;
  border-radius: 8px; /* Add border radius */
  background-color: #f7f7f7;
  outline: none;
  color: grey; /* Set the input text color to grey */
  font-size: 16px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.locationInput::placeholder {
  color: grey; /* Set the placeholder text color to grey */
}

.locationIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  width: 16px; /* Adjust the width and height as needed */
  height: 16px;
  pointer-events: none; /* Ensure the icon doesn't block input events */
}

.focused {
  border-color: rgb(2, 2, 2); /* Change border color when input is focused */
  color: rgb(7, 7, 7); /* Change input text color when focused */
}
